.root{
    width: 100%;
    height: 100%;
}

.React_BP {
    width: 100%;
    height: 800px;
    margin-top: 110px;
    background-color: #252525; 
    // horizontal-align: center;
    // flow-children: right;
    // opacity: 1;
    /* background-color: gray; */
}

.React_Test {
    // width: 100px;
    // height: 100px;
    background-color: rgba(241, 196, 196, 0.364);
}